Kubernetes_22+23 stream-20220126_183356-Meeting Recording.mp4

Kubernetes_22+23 stream-20220124_183145-Meeting Recording.mp4
Kubernetes_22+23 stream-20220121_190006-Meeting Recording.mp4
Kubernetes_22+23 stream-20220119_183218-Meeting Recording.mp4
k8s_user.crt
k8s_user.csr
k8s_user.key
deploy_edit.crt
deploy_edit.key
deploy_view.crt
deploy_edit.csr
deploy_view.csr
deploy_view.key
prod_admin.crt
.gitignore
prod_admin.csr
prod_view.crt
.gitignore
prod_view.csr
prod_view.key
prod_admin.key
